@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
html > body {
  font-family: "Pretendard";
  overflow-x: hidden;
  background-color: #f7f6f2;
}

.inner {
  margin-inline: 5rem;
}

/* 헤더 구현 시작 */
.header-top-banner {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: #be201f;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 950;
}
.header-top-banner a {
  color: #fff;
}

.top-bar {
  height: 100px;
  position: fixed;
  top: 45px;
  inset-inline: 0;
  z-index: 950;
}
.top-bar .inner {
  max-width: 100%;
  height: 100%;
  display: flex;
}

.top-bar__menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.top-bar__menu-wrap .menu-link {
  display: block;
  font-size: 1.25rem;
  color: #be201f;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  padding-block: 0.5rem;
}
.top-bar__menu-wrap .menu-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #be201f;
  transition: width 0.5s;
}
.top-bar__menu-wrap .menu-link:hover::after {
  width: 100%;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo-wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrap .logo img {
  max-width: 300px;
  max-height: 44px;
}

.util-menu {
  height: 100%;
}
.util-menu ul {
  gap: 0 2rem;
}
.util-menu li {
  flex-shrink: 0;
}
.util-menu a {
  display: flex;
  height: 100%;
  align-items: center;
}

/* 헤더 구현 끝 */
/* 메인 배너 구현 시작 */
.main-banner {
  background-image: url("https://ecimg.cafe24img.com/pg1097b49582155038/happiert/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/a28fe238a9d2aef23923b6b4faa6c4f7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  margin-bottom: 6.25rem;
}
.main-banner .inner {
  height: 100%;
  position: relative;
}
.main-banner .text-box {
  position: absolute;
  left: 0;
  top: calc(145px + 5rem);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main-banner .text-box .title {
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
}
.main-banner .text-box .desc {
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -0.04em;
}

/* 메인 배너 구현 끝 */
.product-list-wrap .prod-img-box a {
  display: block;
}
.product-list-wrap .text-box {
  margin-top: 1rem;
}
.product-list-wrap .text-box a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #be201f;
  letter-spacing: -0.04em;
  transition: opacity 0.5s;
  word-break: keep-all;
}
.product-list-wrap .text-box a:hover {
  opacity: 0.5;
}
.product-list-wrap .price-wrap .price-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04em;
  margin-bottom: 0.5rem;
}
.product-list-wrap .price-wrap .price-box .before-sale-price {
  font-weight: 400;
  color: #e0a8a8;
  text-decoration: line-through;
}
.product-list-wrap .price-wrap .discount-box {
  font-size: 1rem;
  color: #be201f;
  letter-spacing: -0.04em;
  padding: 0.565rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #be201f;
  border-radius: 100px;
}

.marketing-section {
  margin-block: 9.375rem;
}

.marquees_wrapper {
  width: 100%;
}
.marquees_wrapper .marquee {
  display: flex;
  cursor: pointer;
  /*
  animation-name: marquee;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  */
}
.marquees_wrapper .marquee:hover {
  animation-duration: 40s;
}
.marquees_wrapper .marquee .marquee_group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 25rem;
  padding: 0.5rem;
}
.marquees_wrapper .marquee .item {
  flex-shrink: 0;
  font-size: 10.625rem;
  font-weight: 500;
  color: #be201f;
  letter-spacing: -0.04em;
  white-space: nowrap;
}

.marketing__content-box {
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.marketing__content-box .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.marketing__content-box .grid-item {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
}
.marketing__content-box .img-box {
  width: 100%;
}
.marketing__content-box .img-box img {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.marketing__content-box .text-box {
  position: absolute;
  inset: 0;
}
.marketing__content-box .text-box .title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04em;
  margin-bottom: 1rem;
  word-break: keep-all;
  position: absolute;
  top: 10%;
  left: 7%;
}
.marketing__content-box .text-box .des {
  position: absolute;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #be201f;
  letter-spacing: -0.04em;
  word-break: keep-all;
  top: 27%;
  left: 5%;
}
.marketing__content-box .text-box .more-box {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.marketing__content-box .text-box .more-box a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border: 1px solid #be201f;
  border-radius: 100px;
  transition: all 0.5s;
}
.marketing__content-box .text-box .more-box a:hover {
  color: #fff;
  background-color: #be201f;
}

.healthy-section .content-top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.313rem;
  margin-bottom: 9.375rem;
}
.healthy-section .text-box {
  flex: 1;
  font-size: 7.5rem;
  font-weight: 500;
  color: #be201f;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1.5rem;
}
.healthy-section .text-box .badge {
  display: inline-flex;
  padding: 1.2rem 5.45rem;
  border: 2px solid #be201f;
  border-radius: 100px;
}
.healthy-section .icon-box {
  width: 16.25rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.healthy-section .icon-box .icon {
  animation: rotation 10s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-bottom-wrap {
  background-image: url("https://ecimg.cafe24img.com/pg1097b49582155038/happiert/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/8d374422b05976c6c5a54c774e1d7748.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 740px;
  position: relative;
}
.content-bottom-wrap .content-bottom__text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0;
}
.content-bottom-wrap .content-bottom__text-box .title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 1.125rem;
}
.content-bottom-wrap .content-bottom__text-box .des {
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 5rem;
  text-align: center;
}
.content-bottom-wrap .content-bottom__text-box .more-box {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.content-bottom-wrap .content-bottom__text-box .more-box a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  border: 1px solid #be201f;
  border-radius: 100px;
  transition: all 0.5s;
}
.content-bottom-wrap .content-bottom__text-box .more-box a:hover {
  color: #fff;
  background-color: #be201f;
}

#footer {
  background-color: #be201f;
}
#footer .inner {
  margin: 0;
  padding: 6.25rem 5rem 8.75rem;
}
#footer .logo-box {
  margin-bottom: 3.75rem;
}

.footer__info .info-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 1.5rem;
}
.footer__info .info-box {
  letter-spacing: -0.04em;
  position: relative;
  padding-inline: 0.3rem;
  font-size: 1.25rem;
}
.footer__info .info-text {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.04em;
  padding-inline: 0.3rem;
  position: relative;
}
.footer__info .info-text:not(.not-bar)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  height: 12px;
  border: 1px solid #fff;
}
.footer__info .copy-right {
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.04em;
  font-size: 1.25rem;
}

.footer__guide {
  min-width: 20rem;
}
.footer__guide .guide-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 1.5rem;
}
.footer__guide .guide-item a {
  font-size: 1.25rem;
  color: #fff;
  display: block;
  padding: 0.625rem 0;
  border-bottom: 1px solid;
}

.footer__contact-us .contact-us-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 1.5rem;
}
.footer__contact-us .content-box .title {
  font-size: 1.875rem;
  color: #fff;
  letter-spacing: -0.04em;
  margin-bottom: 0.625rem;
}
.footer__contact-us .content-box .desc {
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -0.04em;
}
.footer__contact-us .content-box .info {
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -0.04em;
  margin-top: 2rem;
}