@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
html > body {
  font-family: "Pretendard";
}

/* 헤더 구현 시작 */
.header-top-banner {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: #be201f;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 950;
}
.header-top-banner a {
  color: #fff;
}

.top-bar {
  height: 100px;
  position: fixed;
  top: 45px;
  inset-inline: 0;
}
.top-bar .inner {
  max-width: 100%;
  height: 100%;
  padding-inline: 5rem;
  display: flex;
}

.top-bar__menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.top-bar__menu-wrap .menu-link {
  display: block;
  font-size: 1.25rem;
  color: #be201f;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  padding-block: 0.5rem;
}
.top-bar__menu-wrap .menu-link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #be201f;
  transition: width 0.5s;
}
.top-bar__menu-wrap .menu-link:hover::after {
  width: 100%;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo-wrap .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrap .logo img {
  max-width: 300px;
  max-height: 44px;
}

.util-menu {
  height: 100%;
}
.util-menu ul {
  gap: 0 2rem;
}
.util-menu li {
  flex-shrink: 0;
}
.util-menu a {
  display: flex;
  height: 100%;
  align-items: center;
}

/* 헤더 구현 끝 */
/* 메인 배너 구현 시작 */
.main-banner {
  background-image: url("https://ecimg.cafe24img.com/pg1097b49582155038/happiert/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/a28fe238a9d2aef23923b6b4faa6c4f7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  margin-bottom: 6.25rem;
}
.main-banner .inner {
  height: 100%;
  margin-inline: 5rem;
  position: relative;
}
.main-banner .text-box {
  position: absolute;
  left: 0;
  top: calc(145px + 5rem);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main-banner .text-box .title {
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.04em;
}
.main-banner .text-box .desc {
  font-size: 1.25rem;
  color: #fff;
  letter-spacing: -0.04em;
}

/* 메인 배너 구현 끝 */
.product-list-wrap .inner {
  margin-inline: 5rem;
}
.product-list-wrap .prod-img-box a {
  display: block;
}
.product-list-wrap .text-box {
  margin-top: 1rem;
}
.product-list-wrap .text-box a {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  color: #be201f;
  letter-spacing: -0.04em;
  transition: opacity 0.5s;
  word-break: keep-all;
}
.product-list-wrap .text-box a:hover {
  opacity: 0.5;
}

.price-wrap .price-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #be201f;
  letter-spacing: -0.04em;
  margin-bottom: 0.5rem;
}
.price-wrap .price-box .before-sale-price {
  font-weight: 400;
  color: #e0a8a8;
  text-decoration: line-through;
}
.price-wrap .discount-box {
  font-size: 1rem;
  color: #be201f;
  letter-spacing: -0.04em;
  padding: 0.565rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #be201f;
  border-radius: 100px;
}