@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}
html > body {
  font-family: "Pretendard";
}
$color-main: #be201f;

.header-top-banner {
  position: fixed;
  top: 0;
  inset-inline: 0;
  // left,right:0;
  background-color: $color-main;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 950;
}

a {
  color: #fff;
}

.top-bar {
  height: 100px;
  position: fixed;
  top: 45px;
  inset-inline: 0;

  .inner {
    max-width: 100%;
    height: 100%;
    padding-inline: 5rem;
    display: flex;
    align-items: center;
  }
}

.top-bar__menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;

  .menu-link {
    display: block;
    font-size: 1.25rem;
    color: $color-main;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    padding-block: 0.7rem;

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      background-color: $color-main;
      transition: width 0.5s;
    }
  }
}
.logo {
  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 300px;
      max-height: 44px;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 300px;
          max-height: 44px;
        }
      }
    }
  }

  .top-bar__right {
    background-color: red;
  }
}

.util-menu {
  height: 100%;

  ul {
    gap: 0 2rem;
  }

  li {
    flex-shrink: 0;
    // 주어진 공간에서 압축되지 않겠다는 것
  }

  a {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
