@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

html > body {
  font-family: "Pretendard";
  overflow-x: hidden;
}

$color-main: #be201f;
$inner-margin: 5rem;

/* 헤더 구현 시작 */
.header-top-banner {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: $color-main;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 950;

  a {
    color: #fff;
  }
}

.top-bar {
  height: 100px;
  position: fixed;
  top: 45px;
  inset-inline: 0;

  .inner {
    max-width: 100%;
    height: 100%;
    padding-inline: $inner-margin;
    display: flex;
  }
}

.top-bar__menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;

  .menu-link {
    display: block;
    font-size: 1.25rem;
    color: $color-main;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    padding-block: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      background-color: $color-main;
      transition: width 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.logo-wrap {
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 300px;
      max-height: 44px;
    }
  }
}

.util-menu {
  height: 100%;

  ul {
    gap: 0 2rem;
  }

  li {
    flex-shrink: 0;
  }

  a {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
/* 헤더 구현 끝 */

/* 메인 배너 구현 시작 */
.main-banner {
  background-image: url("https://ecimg.cafe24img.com/pg1097b49582155038/happiert/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/a28fe238a9d2aef23923b6b4faa6c4f7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  margin-bottom: 6.25rem;

  .inner {
    height: 100%;
    margin-inline: $inner-margin;
    position: relative;
  }

  .text-box {
    position: absolute;
    left: 0;
    top: calc(45px + 100px + 5rem);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .title {
      font-size: 3.125rem;
      font-weight: 700;
      color: #fff;
      letter-spacing: -0.04em;
    }

    .desc {
      font-size: 1.25rem;
      color: #fff;
      letter-spacing: -0.04em;
    }
  }
}
/* 메인 배너 구현 끝 */

.product-list-wrap {
  .inner {
    margin-inline: $inner-margin;
  }

  .prod-img-box {
    a {
      display: block;
    }
  }
  .text-box {
    margin-top: 1rem;

    a {
      display: block;
      font-size: 1.25rem;
      font-weight: 600;
      color: $color-main;
      letter-spacing: -0.04em;
      transition: opacity 0.5s;
      word-break: keep-all;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .price-wrap {
    .price-box {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: $color-main;
      letter-spacing: -0.04em;
      margin-bottom: 0.5rem;

      .before-sale-price {
        font-weight: 400;
        color: #e0a8a8;
        text-decoration: line-through;
      }
    }
    .discount-box {
      font-size: 1rem;
      color: $color-main;
      letter-spacing: -0.04em;
      padding: 0.565rem 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      border: 1px solid $color-main;
      border-radius: 100px;
    }
  }
}
.marketing-section {
  margin-top: 9.375rem;
}
.marquees_wrapper {
  // 	글자가 뚝뚝 끊기듯이 움직이는건 너비가 없었기 때문 너비값 주기
  width: 100%;

  .marquee {
    display: flex;
    cursor: pointer;
    /*
	animation-name: marquee;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	*/
    // animation: marquee 20s linear infinite;
    // gap: 2.5rem;
    // width: 200%;
    // 	width:200%는 반복효과

    &:hover {
      animation-duration: 40s;
    }

    .marquee_group {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 25rem;
      padding: 0.5rem;
    }
    .item {
      flex-shrink: 0;
      font-size: 10.625rem;
      font-weight: 500;
      color: $color_main;
      letter-spacing: -0.04em;
      white-space: nowrap;
    }
  }
}

// 애니메이션 정의
// @keyframes marquee {
// 0% {
// transform: translateX(0);}
// 100% {
// transform: translateX(-50%);}}

.marketing__content-box {
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-column: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .grid-item {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
  }

  .img-box {
    width: 100%;

    img {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .text-box {
    position: absolute;
    inset: 0;

    .title {
      font-size: 3.75rem;
      font-weight: 700;
      color: $color-main;
      letter-spacing: -0.04em;
      margin-bottom: 1rem;
      word-break: keep-all;
      position: absolute;
      top: 10%;
      left: 7%;
    }

    .des {
      position: absolute;
      font-size: 1.25rem;
      line-height: 1.5;
      color: $color-main;
      letter-spacing: -0.04em;
      word-break: keep-all;
      top: 27%;
      left: 5%;
    }

    .more-box {
      position: absolute;
      bottom: 10%;
      left: 5%;

      a {
        font-size: 1.25rem;
        font-weight: 700;
        color: $color-main;
        letter-spacing: -0.04em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 2rem;
        border: 1px solid $color-main;
        border-radius: 100px;
        transition: all 0.5s;

        &:hover {
          color: #fff;
          background-color: $color-main;
        }
      }
    }
  }
}
